.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.gridContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tile {
  fill: rgb(var(--tile-rgb));
}
