.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.gridContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tile {
  fill: rgb(var(--tile-rgb));
  cursor: pointer;
}

.tileContent {
  transform-box: fill-box;
  width: 100%;
  height: 100%;
}

.tile .originText {
  font-size: 2px;
  font-family: var(--headingFont);
  fill: rgb(var(--tile-text-rgb));
}

.tile text {
  font-size: 1.5px;
  fill: rgb(var(--tile-text-rgb));
}
